.card{
    margin-bottom: 1.875rem;
	height: calc(100% - $grid-gutter-width);
	position: relative;
    border: 0;
    box-shadow: $card-box-shadow;
	border-radius: 0.5rem;

	@include custommq($max: 35.9375rem){
		margin-bottom: 0.938rem;
		height: calc(100% - 0.938rem);
	}
    &-title{
		&--large{
            font-size: 1.5rem;
        }
        &--medium{
            font-size: 1rem;
        }
        &--small{
            font-size: 0.875rem;
        }
    }
    &-header {
        position: relative;
        display: flex;
        justify-content: space-between;
        
		.card-title{
            margin-bottom: 0rem;
        }
        .subtitle{
            padding-top: 0.3125rem;
            font-size: 0.875rem;
			line-height: 1.5;
        }
    }
}
.card{
	&.text-bg-primary,
	&.text-bg-secondary,
	&.text-bg-info,
	&.text-bg-warning,
	&.text-bg-success,
	&.text-bg-dark,
	&.text-bg-danger{
		.card-title{
			color: inherit;
		}
	}
}
.card-group > .card{
	margin-bottom: unset;
	height: unset;
}