		.i18n-select.bootstrap-select{
			background-color: transparent;
		}
		.i18n-select.bootstrap-select.dropdown .dropdown-toggle{
			border: 0;
			padding: 0;
		}
		.i18n-select.bootstrap-select .dropdown-toggle .filter-option-inner-inner{
			font-size: 0;
		}
		.i18n-select.bootstrap-select.dropdown .dropdown-toggle::after{
			height: 0;
			width: 0;
		}
		.i18n-select.bootstrap-select.dropdown .dropdown-toggle .filter-option-inner-inner img{
			width: 25px;
			margin: 0;
			border-radius: 15px;
		}
		.i18n-select.bootstrap-select.dropdown .dropdown-toggle.btn-light{
			background: transparent;
		}
		.i18n-select.bootstrap-select .dropdown-menu{
			width: 130px !important;
			overflow: visible !important;
			min-height: 355px !important;
			max-height: 400px !important;
			border-bottom-right-radius: 6px;
			border-bottom-left-radius: 6px;
		}
		.i18n-select.bootstrap-select .dropdown-menu[data-bs-popper]{
			left: -100px !important;
			margin-top: 12px;
		}