[data-sidebar-style="overlay"] {
	&[data-layout="vertical"]{

		--dz-side-sub_nav-padding : .5rem .5rem .5rem 3.5rem;
		--dz-side-nav-padding : 0.688rem 0.75rem 0.625rem 3.438rem;
		&[direction="rtl"] {
			--dz-side-sub_nav-padding : .5rem 3.5rem .5rem .5rem;
			--dz-side-nav-padding : 0.688rem 3.438rem 0.625rem 0.75rem;
		}
	}
    .deznav {
        left: -100%;
        @include transitionMedium;
		box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
		.metismenu{
			& > li {
				padding: 0 0.5rem;
				& > a {
					border-radius: var(--bs-border-radius);
					-webkit-transition: all 0.5s;
					-ms-transition: all 0.5s;
					transition: all 0.5s;
					border-radius:2.75rem;
					
				}
				&:hover > a{
					//background-color:rgba(255,255,255,0.1);
					//color: $white;

					
				}
				&.mm-active > a {
					color:var(--bs-primary);
					i{
						color:var(--bs-primary);
						
							background-color: $white;
						
					}
				}
				
			}
			
		}
		
    }
    .content-body {
        margin-left: 0;
    }
    .nav-header {
        position: absolute;
        .hamburger.is-active {
            left: 0;
        }
    }
    .menu-toggle {
        .nav-header {
            position: absolute;
            left: auto;
        }
        .deznav {
            left: 0;
        }
    }
    .footer {
        padding-left: 0;
    }
}

[data-sidebar-style="overlay"][data-header-position="fixed"] {
    .nav-header {
        position: fixed;
    }
}


[data-container="wide-boxed"][data-sidebar-position="fixed"][data-sidebar-style="overlay"][data-layout="vertical"],
[data-container="boxed"][data-sidebar-position="fixed"][data-sidebar-style="overlay"][data-layout="vertical"]{ 
	.deznav {
        position: fixed;
		left: auto;
		width:0;
		overflow: hidden;
		transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
		& > div{
			width: var(--dz-sidebar-width);
			min-width: var(--dz-sidebar-width);
			right: var(--dz-sidebar-width);
			transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
		}
    }
	.menu-toggle{
		.deznav {
			width:var(--dz-sidebar-width);
			& > div{
				right: 0;
			}
		}
	}	
}
