///////////////////////////
// Nav Profile
///////////////////////////
.nav-label {
    margin: 0.625rem 1.875rem 0;
    padding: 1.5625rem 0 0.625rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    border-top: 0.0625rem solid var(--bs-border-color);
	color: var(--bs-gray);
    &.first {
        border: 0rem;
        margin-top: 0rem;
    }
}

.nav-badge {
    position: absolute;
    right: 2.8125rem;
    top: 0.625rem;
}

.content-body {
    margin-left: var(--dz-sidebar-width);
    z-index: 0;
    transition: all .2s ease;
}

.header-profile2{
	.dropdown-menu.show{
		width:calc(var(--dz-sidebar-width) - 30px);
		min-width:calc(var(--dz-sidebar-width) - 30px);
		left: 15px!important;
	}
}

///////////////
// Sidebar
//////////////
.deznav {
    width: var(--dz-sidebar-width);
    padding-bottom: 0;
    height: calc(100% - var(--dz-header-height));
    position: var(--dz-sidebar-pos);
    top: var(--dz-header-height);
    padding-top: 0;
    z-index: 6;
    background-color: var(--sidebar-bg);
    transition: all .2s ease;
	box-shadow: 0rem 0.9375rem 1.875rem 0rem rgba(0, 0, 0, 0.02);
    .deznav-scroll {
        position: relative;
        height: 100%;
		overflow-y:scroll;
		scrollbar-width: none;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .metismenu {
        display: flex;
        flex-direction: var(--dz-side-menu-direction);
		padding-top: 0.9375rem;
			
		
        &.fixed {
            position: fixed;
            top: 0;
            width: 100%;
            left: 0;
        }
        &>li {
            display: flex;
            flex-direction: column;

            a {
				color: var(--bs-body-color);
                &>i {
                    font-size: var(--dz-side-ico-size);
                    display: inline-block;
                    vertical-align: middle;
                    position: absolute;
					height:var(--dz-side-ico-height);
					line-height:42px;
					width:var(--dz-side-ico-width);
					text-align:center;
					border-radius:45px;
					top:0;
					left:0;
					padding:0;
					@include transitionFast;
					@include respond ('tab-land'){
						line-height: 38px;
					}
                }
            }
            &>a {
				font-weight: 400;
				display: inline-block;
				padding: var(--dz-side-nav-padding);
				font-size: var(--dz-side-nav-size);
				//color: rgba(255, 255, 255, 0.7);
				border-radius:2rem;
				margin: 5px 0;
				
				svg {
					max-width: 1.5rem;
					max-height: 1.5rem;
					height: 100%;
					margin-right:0.3125rem;
					margin-top: -0.1875rem;
					color: var(--bs-primary);
				}
				g [fill] {
					fill: #8088a1;
				}
            }
            &:hover,
			&:focus {
				
                &>a {
                    //color: #fff;
					g [fill] {
						fill: var(--bs-primary);
					}
                }
            }
            &.mm-active {
				&>a {
					//color:$white!important;
					background: rgba(var(--bs-primary-rgb), 0.1);
					color:var(--bs-primary);
					box-shadow:none;
					g [fill] {
						fill: var(--bs-primary);
					}
					
				}
            }
        }
        li {
            position: relative;
        }
		
        //one step dropdown
        ul {
            transition: all .2s ease-in-out;
			position:relative;
			z-index: 1;
			padding: 0.5rem 0;
            a {
				font-size: var(--dz-side-sub_nav-size);
				padding: var(--dz-side-sub_nav-padding);
				color: $body-color;
				@include transitionMedium;
                &:hover,
                &:focus,
                &.mm-active {
                    text-decoration: none;
					color:var(--bs-primary);
                    //color: #fff;
                }
            }
            
        }
        a {
            position: relative;
            display: block;
            outline-width: 0;
            //color:rgba(255, 255, 255, 0.8);
            text-decoration: none;
			@include respond('phone-land') {
				padding: 0.625rem 1.25rem;
			}
        }
        .has-arrow {
            &:after {
				border-top: 1px solid #C8C8C8;
				border-left: 1px solid #C8C8C8;
				border-bottom: 1px solid transparent;
				border-right: 1px solid transparent;
                right: 1.875rem;
                top: 48%;
                -webkit-transform: rotate(-225deg) translateY(-50%);
                transform: rotate(-225deg) translateY(-50%);
				
            }
        }
        .has-arrow[aria-expanded=true]:after,
        .mm-active>.has-arrow:after {
            -webkit-transform: rotate(-135deg) translateY(-50%);
            transform: rotate(-135deg) translateY(-50%);
        }
    }
	
	.main-menu{
		padding:0.625rem 1.875rem;
	}
	.header-profile2{
		display: var(--dz-side-profile);
	}
	.copyright{
		display: var(--dz-side-copyright);
		margin-bottom: 2rem;
	}
	.plus-box{
		display: var(--dz-side-info);
	}
	.header-info2{
		padding: 0.35rem 1rem 0.35rem 0.35rem;
		background-color: var(--body-bg);
		border-radius: .5rem;
		margin: 10px 15px 0;

		img{
			height: 2.8rem;
			width: 2.8rem;
			border-radius: var(--bs-border-radius);
			margin-right: .8rem;
		}
		.sidebar-info{
			flex:1;
		}
		span{
			font-size:.9375rem;
			font-weight:500;
			color:var(--text-dark);
		}
		i{
			margin-left:auto;
			font-size: .85rem;
		}
	}
	
}

.deznav .copyright{
	margin-top: 1.2rem;
	font-size: 13px;
    padding: 0 25px;
    color: #000;
    margin-top: 40px;
    margin-bottom: 40px;
	p{
		margin-bottom: 6px;
		font-size:13px;
		//color:rgba(255, 255, 255, 0.7);
	}
	strong{
		display:block;
		font-size: 0.875rem;	
		color:var(--text-gray);
	}
}

[data-sidebar-position="fixed"] {
	--dz-sidebar-pos : fixed;
}
.deznav{
	display: flex;
    flex-direction: column;
	
	.deznav-footer{
		padding: 12px 12px;
	}
	[data-sidebar-style="full"][data-sidebar-position="fixed"][data-layout="vertical"] .menu-toggle &,
	[data-layout="horizontal"] &{
		.deznav-footer{
			display: none;
		}
	}
	@include respond('tab-port') {
		[data-sidebar-style="mini"] &{
			.deznav-footer{
				display: none;
			}	
		}
	}
	@include respond('phone-land') {
		[data-sidebar-position="fixed"][data-layout="vertical"] .menu-toggle &,
		[data-sidebar-style="overlay"] &{
			.deznav-footer{
				display: block;
			}	
		}
	}
	@media only screen and (min-width: 48rem) {
		[data-sidebar-style="mini"][data-layout="vertical"] &,
		[data-sidebar-style="icon-hover"] &{
			.deznav-footer{
				display: none;
			}
		}
		[data-sidebar-style="compact"] &,
		[data-sidebar-style="modern"] &{
			.deznav-footer .btn-docs i{
				display: none;
			}
		}
		[data-sidebar-style="icon-hover"] .iconhover-toggle &{
			.deznav-footer{
				display: block;
			}
		}
	}
}