$body-color-dark: #FFFFFFB3;
$body-bg-dark: #18192f;
$body-secondary-bg-dark:  #0f1021;
$headings-color-dark: #fff;
$border-color-dark: #444444;

[data-bs-theme="dark"]{	
	--bs-light: #0f1021;
	--bs-light-rgb: 30, 30, 30;

	&[data-primary="color_3"] {
		--bs-primary: #7978ff !important;
	}
	
	--bs-black-rgb: 255, 255, 255;
	
	--bs-secondary: #ff6175;
	--bs-secondary-rgb: 172, 57, 212;
	
	--bs-dark: #fff;
	--bs-dark-rgb: 152, 171, 193;
	--bs-gray: #b3b3b3;


	.table-primary{
		--bs-table-bg: var(--bs-primary-bg-subtle);
		--bs-table-striped-bg: var(--bs-bg-light);
		--bs-table-active-bg: var(--bs-bg-light);
		--bs-table-hover-bg: var(--bs-bg-light);
		--bs-table-border-color: rgb(68, 68, 68);
	}
	.btn-secondary {
		--bs-btn-color: #fff;
		--bs-btn-bg: var(--bs-secondary);
		--bs-btn-border-color: var(--bs-secondary);
		--bs-btn-hover-bg: #707070;
		--bs-btn-hover-color: #fff;
		--bs-btn-active-color: #fff;
		--bs-btn-active-border-color: #212121;
		--bs-btn-disabled-color: #fff;
		--bs-btn-disabled-bg: var(--bs-secondary);
		--bs-btn-disabled-border-color: var(--bs-secondary);
	}
	.btn-light {
		--bs-btn-color: #fff;
		--bs-btn-bg: var(--bs-light);
		--bs-btn-border-color: var(--bs-light);
		--bs-btn-hover-color: #fff;
		--bs-btn-hover-bg: #707070;
		--bs-btn-hover-border-color: #707070;
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: #c4c4c4;
		--bs-btn-disabled-color: #fff;
		--bs-btn-disabled-bg: var(--bs-light);
		--bs-btn-disabled-border-color: var(--bs-light);
	}
	.btn-outline-light {
		--bs-btn-color: #fff;
		--bs-btn-border-color: var(--bs-light);
		--bs-btn-hover-color: #fff;
		--bs-btn-hover-bg: var(--bs-light);
		--bs-btn-hover-border-color: var(--bs-light);
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: var(--bs-light);
		--bs-btn-disabled-color: var(--bs-light);
		--bs-btn-disabled-border-color: var(--bs-light);
	}
	.text-bg-light{
		color: #fff !important;
	}
}