@media (min-width: 992px) {
    [data-container="boxed"] {

        .header-left .dashboard_bar{

            display: none;
        }
        #main-wrapper {
            max-width: 1199px;
            margin: 0 auto;
			box-shadow: 0 0 1.875rem 0 rgba(0, 0, 0, 0.1);


          
        }
		.header-right > li:not(:first-child) {
			padding-left: 1rem;
		}
		.event-sidebar{
			position:absolute;
		}
		.nav-control{
			right:-3.5625rem;
			z-index: 6;
		}
		
		.default-select.style-2{
			width: 120px !important;	
		}
		.header{
			max-width: 1199px;
		}
		&[data-layout="horizontal"]{
			.header {
				width: 100%;
				padding-left: 16.563rem;
			}
			.nav-header {
				width: 16.563rem;
			}
		}
		&[data-sidebar-style="mini"]{
			.nav-header{
				width:7.5rem;
			}
			.header {
				width: 100%;
				padding-left: 7.75rem;
			}
		}
    }
	
}

    
    
@include custommq($min: 1350px) {
    [data-layout="vertical"][data-sidebar-style="overlay"][data-container="boxed"][data-header-position="fixed"] {
        .header {
            width: 1199px;
        }
    }
}

@include custommq($min: 1200px, $max: 1349px) {
    [data-layout="vertical"][data-sidebar-style="overlay"][data-container="boxed"][data-header-position="fixed"] {
        .header {
            width: 1199px;
        }
    }
}


[data-header-position="fixed"][data-layout="horizontal"][data-container="boxed"] {
    .deznav {
        max-width: 1199px;
    }
} //ok

[data-layout="horizontal"][data-container="boxed"][data-header-position="fixed"] {
    .header {
        width: 1199px;
    }
}

[data-layout="horizontal"][data-container="boxed"][data-header-position="fixed"][data-sidebar-style="mini"] {
    .header {
        width: 1199px;
    }
}


[data-container="boxed"] {
    .metismenu.fixed {
     left: auto;
        max-width: 1199px;
    }

    .page-titles {
        margin-bottom: 3rem;
        padding: 15px 15px;
    }

    .content-body .container-fluid {
        padding: 0.9375rem 0.9375rem 0 0.9375rem;
    }
	.input-group.search-area {
		width:12rem;
	}
}

[data-container="boxed"][data-layout="vertical"] {
    .page-titles {
        margin-left: 0;
        margin-right: 0;
    }
	&[data-sidebar-position="fixed"]{
		.nav-header{
			left:unset;
		}
	}
	&[data-sidebar-position="static"]{
		.nav-header{
			left:unset;
			
		}
	}
}

[data-layout="vertical"][data-container="boxed"][data-sidebar-position="fixed"][data-header-position="static"][data-sidebar-style="overlay"] {
    .nav-header {
        position: fixed;
    }

    .menu-toggle {
        .deznav {
            position: fixed;
        }
    }
}

[data-container="boxed"][data-sidebar-position="fixed"][data-layout="horizontal"] {
    .deznav.fixed {
     left: auto;
        max-width: 1199px;
    }
}

	