.footer {
    padding-left: var(--dz-sidebar-width);
    background-color: var(--bs-secondary-bg);
    @include custommq($min: 1200px, $max: 1600px) {
        padding-left: 17rem;
    }
    .copyright {
        padding: 0.9375rem;
		font-size:13px;
        p {
            text-align: center;
            margin: 0;
			color: var(--text-gray);
        }

        a{
            color: var(--bs-primary);
        }
    }
}


