.event-sidebar {
    position: fixed;
    width: 380px;
    right: -400px;
    background: var(--bs-body-bg);
    height: calc(100% - 4.5rem);
    z-index: 8;
    top: 4.5rem;
	@include transitionMedium;
	
	@include respond('laptop') {
       height: calc(100% - 63px);
		top: 63px;
    }
	&.active{
		right: 0;
	}
	@include respond('tab-port') {
		width: 300px;
    }
}
.event-btn{
	@include respond('phone') {
		height: 41px;
		padding: 0;
		width: 41px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.rightside-event{
	margin-right:380px;
	
	
	@include respond('laptop') {
        margin-right:0;
    }
	& + .footer{
		margin-right:380px;
		@include respond('laptop') {
			margin-right:0;
		}
	}
}
.schedule-event-inner{
	display: flex;
    align-items: center;
	
	.btn{
		svg [stroke]{
			stroke:$white;
		}
		&:hover svg [stroke]{
			stroke:$white;
		}
	}
}
.event-calender{
    color: $black;
	.bootstrap-datetimepicker-widget table{
		width:100%;
		
		td span, 
		td i{
			border-radius: 35px;
			height: 47px;
			width: 130px;
			line-height: 47px!important;
		}
		td{
			padding: 16px 5px 15px 5px;
			border-radius: var(--bs-border-radius);
			line-height: 1;
		}		
		th{
			padding:15px 5px;
			border-radius: var(--bs-border-radius);
			height: 20px;
			line-height: 20px;
			width: 20px;
			font-weight: 400;
			opacity: 1;
			font-size: 14px;
		}
		
		.new:hover, 
		.old:hover{
			color:$white;
		}
		
		.timepicker-hour, 
		.timepicker-minute, 
		.timepicker-second{
			font-weight: 500;
		}
		
		thead tr .picker-switch{
			font-size: 20px;
			font-weight: 500;
			opacity: 1;
			@include respond('phone-land') {
				font-size: 20px;
			}
		}
		.next,
		.prev{
			font-size: 14px;
		}
		
		.btn-primary{
			border:0;
			padding:10px;
		}
		.btn-primary,
		td span.active, 
		td i.active,
		thead tr:first-child th:hover,
		td span:hover, 
		td i:hover,
		td.day:hover, 
		td.hour:hover, 
		td.minute:hover, 
		td.second:hover{
			background:var(--bs-primary); 
			color:$white;
			transition: all 0.3s ease;
		}
		
	}
	
	
	.datepicker table tr td.active, .datepicker table tr td.today{
		background: var(--bs-primary)!important;
		color:$white!important;
		box-shadow:none;
	}
}
.bgl-success{
	background-color: rgba(var(--bs-success-rgb), 0.3);
}
.bgl-primary{
	background-color: rgba(var(--bs-primary-rgb), 0.1);
}
.event-list{
	.date-bx{
		position:relative;
		border:1px solid transparent;
		@include transitionMedium;
		width:84px;
		&.bgl{
			&-success{
				&:after{
					background:var(--bs-success);
				}
			}
			&-primary{
				&:after{
					background:var(--bs-primary);
				}
			}
		}
		&:after{
			height:26px;
			width:26px;
			border:3px solid $white;
			position:absolute;
			border-radius:100%;
			bottom:-13px;
			left:50%;
			transform:translateX(-50%);
			content:"";
		}
	}
	&:hover .bgl{
		&-primary{
			background:transparent;
			border-color:var(--bs-primary);
			&:after{
				background:var(--bs-primary);
			}
		}
		&-success{
			background:transparent;
			border-color:$success;
			&:after{
				background:$success;
			}
		}
	}
}
@include respond ('tab-land'){
	#polarAreaCharts {
		display: flex;
		justify-content: center;
	}
}
[data-bs-theme="dark"]{
	.event-sidebar {
		.event-list{
			.bgl{
				&-primary{
					background-color: rgba(var(--bs-primary-rgb), 0.2);
				}
				&-success{
					background-color: rgba(var(--bs-success-rgb), 0.2);
				}
			}
			&:hover{
				.bgl{
					&-primary{
						background-color: transparent;
					}
					&-success{
						background-color: transparent;
					}
				}
			}
		}
		.table-condensed{
			color: #BBBBBB;
		}
	}
}